/*
       generaliter a toutes les pages
*/
body{
    background: url(../Images/golden-wheat-field.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#titre{
    text-align: center;
    font-size: 8em;
    color: darkmagenta;
}

nav{
    margin-left: 15px;
    margin-right: 15px
}

#pied, .centre{
    text-align: center;
}

.droite{
    text-align: right;
}

.gauche{
    text-align: left;
}

h1{
    color: darkmagenta;
    text-align: center;
}


/*
        CSS MENU
*/

nav{
    text-align: center;
}

#dashboard, #classement, #deconnection{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.2em;
    padding: 10px;
}




/* 
        CSS PIED DE PAGE

*/

table{
    margin-top: 10%;
    width: 80%;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    color: darkmagenta;
    border-spacing: 0px 15px;
}

td{
    width: 25%;
}

footer{
    background-color: black;
}


/*
      CSS DE LA PAGE DE CONNECTION  
*/

#connection{
    background: url(../Images/parchemin.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 200px;
    height: 180px;
    margin: auto;
    padding: 20px;
}

#mdp{
    margin-bottom: 15px;
}


/*
        CSS DE GAIADASHBOARD
*/

#sousmenu{
    padding: 10px;
    text-align: center;
}

#contenu{
    margin: auto;
    background-color: teal;
    width: 80%;
}

#seNourrir, #nourrirChevre, #planter, #reproduction, #banque{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

