/*
       generaliter a toutes les pages
*/
body{
    background: url(../Images/golden-wheat-field.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#titre{
    text-align: center;
    font-size: 8em;
    color: darkmagenta;
}

nav{
    margin-left: 15px;
    margin-right: 15px
}

.centre{
    text-align: center;
}

.droite{
    text-align: right;
}

.gauche{
    text-align: left;
}

h1, h2{
    color: darkmagenta;
    text-align: center;
    width: 100%;
}

a{
    text-decoration: none;
}



/*
        CSS MENU
*/

nav{
    text-align: center;
}

#dashboard, #classement, #deconnection{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.2em;
    padding: 10px;
}



/* 
        CSS PIED DE PAGE

*/

#piedPage{
    margin: auto;
    width: 80%;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    color: darkmagenta;
    border-spacing: 0px 15px;
}

.cellulePied{
    width: 25%;
}

footer{
    background-color: #4391d9;
    margin: auto;
}


/*
      CSS DE LA PAGE DE CONNECTION  
*/

#connection{
    background: url(../Images/parchemin.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 200px;
    height: 180px;
    margin: auto;
    padding: 20px;
}

#mdp{
    margin-bottom: 15px;
}


/*
        CSS DE GAIADASHBOARD
*/

#sousMenu{
    padding: 10px;
    text-align: center;
}

#contenu{
    margin: auto;
    background-color: #4391d9;
    width: 80%;
}

#seNourrir, #nourrirChevre, #planterCarotte, #planterBle, #reproduction, #banque{
    margin-left: 15px;
    width: 130px;
}

#ligneVie{
    width: 100%;
    height: 100px;
}

#ligneVieJoueur, #ligneVieMouton{
    width: 50%;
}

#barrePogressionJoueur{
    margin: 15px;
}

.ressource{
    width: 400px;
}

/*** css du stock du joueur ***/

#tableaux{
    background-color: #4391d9;
    height: 500px;
}

#stock{
    width: 65%;
    margin: auto;
    margin-top: 2%;
}

.traitRessource{
    border: 3px double coral;   
}

/*** css des plantations du joueurs ***/

#plantation{
    width: 65%;
    margin: auto;
    margin-top: 5%;
}

.traitPlantation{
    border: 3px double coral;  
}

/*** css de la maternité  ***/

#materniter{
    width: 65%;
    margin: auto;
    margin-top: 5%;    
}

.traitMaterniter{
    border: 3px double coral;  
}

/*** css de la banque ***/

#echange{
    margin: auto;
    padding-top: 5%;
}

.traitBanque{
    border: 3px double coral;  
}

.longueurCaseBanque{
    width: 200px; 
    margin: auto;
}

