/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 oct. 2016, 13:38:21
    Author     : Laurent-LIM
*/

/*
        BALISE
*/
body{
    width: 100%;
    height: 100%;
    background-color: darkolivegreen;
    background: url(../Images/golden-wheat-field.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    text-align: center;
    margin-top: 10%;
    font-size: 5em;
    color: darkmagenta;
}


/*
        ID
*/

#menu{
    width: 100%;
    height: 10%;
    text-align: center;
}

#contenu{
    /*    background-image: url('imageCss/champBle.jpg');
        background-repeat: no-repeat;    */
    width: 100%;
    height: 300px;
    text-align: center;
}

#pied{
    width: 100%;
    height: 10%;  
    text-align: center;
}


/*
        CLASS
*/